@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/***RESETAR CONFIGURAÇÕES DOS NAVEGADORES ***/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***ESTILO DO MENU ***/

.topo{
  background-color: #005c9f;
  height: 10vh;
  display: flex;
}

.topo img
{
  height: 70px;
  margin: 10px;
  display: flex;
  margin: auto;
}

nav {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  background: #00a4b4;
  height: 63px;
}

.menu{
  width: 80%;
  margin: auto;
}

a{
  color: #f3f4f5;
  text-decoration: none;
  transition: 0.3s;
}
 
.nav-list {
  width: 460px;
  list-style: none;
  display: flex; 
  margin: auto; 
}

.nav-list li {
  padding-top: 20px;
  padding-bottom: 24px;
  margin-top: 5px;
  margin: auto;
}

.nav-list li a:hover{
border-bottom: 4px solid #fff;
margin-top: 20px;
padding-bottom: 4px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  padding-top: 17px;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin-bottom: 8px;
  transition: 0.3s;
}


/***ESTILO PARA AJUSTE EM DIFERENTES RESOLUÇÃO ***/

@media (max-width: 799px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
    position: absolute;
    top: 13vh;
    right: 0;
    width: 30vw;
    height: 100%;
    padding-bottom: 20px;
    background: #00a4b4;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin: auto;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  

fieldset{
    border: 3px solid black;
    padding: 10px;
}

#box{
    border: 2px solid #a39e9e93;
    background-color:white;
    padding: 60px;
    max-width: 400px;
    margin: 20px auto;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px gray;
    
}
 
legend{
        border: 1px solid black;
        padding: 5px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 20px;
        margin: 20px auto;
        margin-top: 40px;
        border-radius: 10px;
        background-image: linear-gradient(to right,#005c9f);
    }
    
input, textarea{ 
    background: none;
    border:none;
    border-bottom:  1px solid black;
    outline: none;
    color: black;
    font-size: 15px;
    width: 95%;
    letter-spacing: 2px;
    margin-right: 10px;
}

#submit{
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px auto;
    justify-content: space-around;
    background-color: #005c9f;
    color: white;
}
#submit:houver {
    background-color: #00a4b4;     
}

::placeholder{
    font-size: 9px;
    width: 100%;
}
.checkbox{
    margin: 0;
    padding: 0;

}
input[type='text']:hover,
input[type='email']:hover,
textarea:hover,
input[type='tel']:hover{ /* CONFIGURAÇÃO DOS INPUTS QUANDO PASSARMOS O CURSOR */
    background-color: #00a4b4;
    border-radius: 3px;

}


footer{
    background-color: #00a4b4;
    color: #E1E1E6;
    margin-top: 30px;
    padding-top: 10px;
  }
  
  footer .container, .container2{
    display: grid;
    justify-items: center;
  }
  
  footer .container p{
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-family: Font Awesome Brands, sans-serif;
  }
  
  footer .container h1{
    font-size: 38px;
    margin-bottom: 4px;
    margin-top: 0;
    color: #E1E1E6;
    text-align: center;
    font-family: Font Awesome Brands, sans-serif;
  }
  
  .container2{
    background-color: #005c9f;
    color: #E1E1E6;
    padding: 10px;
    width: 100%;
  }
  




