/***RESETAR CONFIGURAÇÕES DOS NAVEGADORES ***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F4F5;
}

a {
    color: #F3F4F5;
    text-decoration: unset;
}

#superior{
    background-color: #005c9f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F3F4F5;
}

#home {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 20px;
}

#logoNovasNoticias {
    width: 5%;
    margin-left: 200px;
    margin-top: 10px;
    
}

.nav-list, .barraInformacoes {
    background-color: #00A4B4;
    height: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 124%;
    color: #F3F4F5;
    justify-content: space-around;
    padding-left: 600px;
    padding-right: 600px;
    display: flex;
    align-items: center;
}

#noticia {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
}

#podcast1{
    width:540px; /* you can use % */
    height: auto;
    object-fit: cover;
    border: 5px solid #939597;
}

#podcast2{
    width:540px;
    height: 250px;
    object-fit: cover;
    border: 5px solid #939597;
}

.texto {
    margin-left: 900px;
    margin-top: -1150px;
}

#texto2 {
    width: 50%;
}

#texto1 {
    width: 400px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    border: 5px solid #939597;
}

#texto2 {
    width: 400px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    object-position: 0px 0px; /* try 20% 10% */ 
    border: 5px solid #939597;
}

#texto3 {
    width: 400px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    object-position: -90px 0px; /* try 20% 10% */ 
    border: 5px solid #939597;
}

.barraDireitos{
    background-color: #005c9f;
    height: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 124%;
    color: #F3F4F5;
    justify-content: space-around;
    text-align: center;
    padding-top: 15px;
}

.vacinometro {
    padding-top: 500px;
}
