@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.topo{
  background-color: #005c9f;
  height: 10vh;
  display: flex;
}

.topo img
{
  height: 70px;
  margin: 10px;
  display: flex;
  margin: auto;
}

nav {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  background: #00a4b4;
  height: 63px;
}

.menu{
  width: 80%;
  margin: auto;
}

a{
  color: #f3f4f5;
  text-decoration: none;
  transition: 0.3s;
}
 
.nav-list {
  width: 460px;
  list-style: none;
  display: flex; 
  margin: auto; 
}

.nav-list li {
  padding-top: 20px;
  padding-bottom: 24px;
  margin-top: 5px;
  margin: auto;
}

.nav-list li a:hover{
border-bottom: 4px solid #fff;
margin-top: 20px;
padding-bottom: 4px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  padding-top: 17px;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin-bottom: 8px;
  transition: 0.3s;
}


/***ESTILO PARA AJUSTE EM DIFERENTES RESOLUÇÃO ***/

@media (max-width: 799px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
  position: absolute;
  top: 13vh;
  right: 0;
  width: 30vw;
  height: 100%;
  padding-bottom: 20px;
  background: #00a4b4;
  flex-direction: column;
  align-items: center;
  
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin: auto;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


body{
    background-color: whitesmoke;
}

#img_vacina{
  display:flex;
  border-radius: 4px 4px 4px 4px;
  background-size: 100%;
  background-position: cen;
  

/*width: 80%;
border-radius: 3px 3px 3px 3px;
margin-left: 5%; */
}
.noticia figcaption{
margin-top: 20%;
}
.noticia img{
width: 590px;
height: 290px;
position: relative;
-webkit-transition: -webkit-transform .5s ease;
transition: transform .5s ease; 
filter: brightness(0.5);


}

.noticia:hover img{
-webkit-transform: scale(1.1);
transform:scale(1.1);
}
.noticia figcaption{
position: absolute;
bottom: 0;
font-size:  20px;
color: black;

}

#link{
color: rgb(242, 242, 247);
}

.text{
padding: 20px;
position: absolute;
bottom: 0px;
color: #fff;
font-size: 24px;

}
.text:hover{
text-shadow: 1px 1px 1px rgb(228, 247, 255);
}

.direita{
position: absolute;
right: 10px;
}

.noticia{
border: 20px solid #878383;
width: 30%;
border: 30px;
display: inline-block;
margin-right: 10px;
margin-bottom: 30px;
margin-left: 20px;
text-align: justify;
display: inline-block;
position: relative;
border: 30px;
display: inline-block;
overflow: hidden;
text-align: center;
position: relative;
}


footer{
  background-color: #00a4b4;
  color: #E1E1E6;
  margin-top: 30px;
  padding-top: 10px;
}

footer .container, .container2{
  display: grid;
  justify-items: center;
}

footer .container p{
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  font-family: Font Awesome Brands, sans-serif;
}

footer .container h1{
  font-size: 38px;
  margin-bottom: 4px;
  margin-top: 0;
  color: #E1E1E6;
  text-align: center;
  font-family: Font Awesome Brands, sans-serif;
}

.container2{
  background-color: #005c9f;
  color: #E1E1E6;
  padding: 10px;
  width: 100%;
}

.corpo{
  margin: auto;
}